In [3]:
import pandas as pd

In [5]:
pd.set_option("display.max_columns",None)

In [23]:
pd.set_option("display.max_rows",None)

In [12]:
df=pd.read_excel("C:/Users/HANDENUR/Downloads/miuul_gezinomi.xlsx")

In [13]:
df.head(10)

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low
5,415091,2022-12-03,2022-12-03,70.268620,Yarım Pansiyon,İzmir,Saturday,0,Low
6,415085,2022-12-03,2022-12-09,45.787546,Yarım Pansiyon,Antalya,Friday,6,Low
7,415084,2022-12-03,2022-12-03,51.239316,Herşey Dahil,Antalya,Saturday,0,Low
8,415081,2022-12-03,2022-12-04,77.289377,Yarım Pansiyon,İzmir,Sunday,1,Low
9,415079,2022-12-03,2022-12-03,68.681319,Yarım Pansiyon,Diğer,Saturday,0,Low

In [14]:
df.tail()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
59159,51817,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low
59160,51816,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low
59161,51814,2016-01-05,2016-01-06,40.562914,Herşey Dahil,Diğer,Wednesday,1,Low
59162,51736,2016-01-04,2016-01-05,69.847682,Yarım Pansiyon,Diğer,Tuesday,1,Low
59163,51731,2016-01-04,2016-08-22,158.940397,Herşey Dahil,Antalya,Monday,231,High

In [15]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SaleId,59164.0,302675.795433,87943.222683,51707.0,274038.500000,321607.000000,367373.000000,415122.00000
Price,59151.0,61.345057,51.384617,0.0,35.343035,54.261294,77.962578,4880.47138
SaleCheckInDayDiff,59164.0,31.840173,51.493509,0.0,2.000000,10.000000,34.000000,630.00000

In [16]:
df.isnull().values.any()

True

In [17]:
df.isnull().sum()

SaleId                 0
SaleDate               0
CheckInDate            0
Price                 13
ConceptName            0
SaleCityName           0
CInDay                 0
SaleCheckInDayDiff     0
Seasons                0
dtype: int64

In [18]:
df["Price"].value_counts()

30.525031     164
48.840049     155
61.050061     151
112.233446    133
57.997558     127
             ...
66.217733       1
72.885522       1
51.377778       1
36.421998       1
69.847682       1
Name: Price, Length: 19642, dtype: int64

In [19]:
#Soru 2:Kaç unique şehir vardır? Frekansları nedir? 

df["SaleCityName"].nunique()

6

In [20]:
df["SaleCityName"].value_counts() #tekrar etmeyen 6 şehri  görmüş olduk

Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: SaleCityName, dtype: int64

In [21]:
#Soru 3:Kaç unique Concept vardır?

df["ConceptName"].nunique()

3

In [22]:
#Soru4: Hangi Concept’den kaçar tane satış gerçekleşmiş?(tekil) Gezinomi şirketinin yaptığı satışların fiyatlarını ve bu
#satışlara ait bilgiler içermektedir. o yüzden direkt value counts al
df["ConceptName"].value_counts()

Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: ConceptName, dtype: int64

In [23]:
#diğer yol :groupby
df.groupby("ConceptName")["ConceptName"].value_counts()

ConceptName     ConceptName
Herşey Dahil    Herşey Dahil      53186
Oda + Kahvaltı  Oda + Kahvaltı     2419
Yarım Pansiyon  Yarım Pansiyon     3559
Name: ConceptName, dtype: int64

In [24]:
#soru5 Şehirlere göre satışlardan toplam ne kadar kazanılmış?[]
df.groupby("SaleCityName").agg({"Price": "sum"})

                     Price
SaleCityName
Antalya       2.041911e+06
Aydın         5.732960e+05
Diğer         1.545723e+05
Girne         2.706503e+04
Muğla         6.658422e+05
İzmir         1.659348e+05

In [25]:
#ya da daha basiti
df.groupby("SaleCityName")["Price"].sum()

SaleCityName
Antalya    2.041911e+06
Aydın      5.732960e+05
Diğer      1.545723e+05
Girne      2.706503e+04
Muğla      6.658422e+05
İzmir      1.659348e+05
Name: Price, dtype: float64

In [26]:
#Soru6: Concept türlerine göre göre ne kadar kazanılmış?
df["ConceptName"].value_counts() # bu bize tekil donuç verir. total istiyorum
df.groupby("ConceptName")["Price"].sum() #ya da agg ile

ConceptName
Herşey Dahil      3.332911e+06
Oda + Kahvaltı    1.213084e+05
Yarım Pansiyon    1.744024e+05
Name: Price, dtype: float64

In [27]:
#Soru7: Şehirlere göre PRICE ortalamaları nedir?
df.groupby("SaleCityName").agg({"Price": "mean"})

                  Price
SaleCityName
Antalya       64.521474
Aydın         53.855896
Diğer         47.707497
Girne         59.483579
Muğla         62.461746
İzmir         66.267905

In [28]:
#Soru 8: Conceptlere göre PRICE ortalamaları nedir?
df.groupby("ConceptName").agg({"Price": "mean"})

                    Price
ConceptName
Herşey Dahil    62.672260
Oda + Kahvaltı  50.252010
Yarım Pansiyon  49.030742

In [29]:
#Soru 9: Şehir-Concept kırılımında  PRICE ortalamalarınedir?
df.groupby(["ConceptName","SaleCityName"]).agg({"Price": "mean"})

                                 Price
ConceptName    SaleCityName
Herşey Dahil   Antalya       64.519028
               Aydın         53.995467
               Diğer         84.771093
               Girne         97.680970
               Muğla         63.020053
               İzmir         74.701519
Oda + Kahvaltı Antalya       63.504816
               Aydın         34.458787
               Diğer         37.599082
               Girne         39.775536
               Muğla         59.037763
               İzmir         41.320342
Yarım Pansiyon Antalya       67.190613
               Aydın         30.016543
               Diğer         42.113440
               Girne         53.247838
               Muğla         45.120924
               İzmir         59.610053

#Görev 2: SaleCheckInDayDiff değişkenini kategorik bir değişkene çeviriniz.
SaleCheckInDayDiff değişkeni müşterinin CheckIn tarihinden ne kadar önce satin alımını tamamladığını gösterir.
Aralıkları ikna edici şekilde oluşturunuz.
Örneğin: ‘0_7’, ‘7_30', ‘30_90', ‘90_max’ aralıklarını kullanabilirsiniz.
Bu aralıklar için "Last Minuters", "Potential Planners", "Planners", "Early Bookers“ isimlerini kullanabilirsiniz.

In [31]:
bins=[-1, 7, 30 ,90, df["SaleCheckInDayDiff"].max()]

In [32]:
labels=["last minutes", "potential planners", "planners", "early bookers"]

In [33]:
df["EB_score"]=pd.cut(df["SaleCheckInDayDiff"], bins ,labels=labels)

In [34]:
df["EB_score"].head(100)

0           last minutes
1           last minutes
2           last minutes
3           last minutes
4           last minutes
             ...
95    potential planners
96              planners
97    potential planners
98              planners
99              planners
Name: EB_score, Length: 100, dtype: category
Categories (4, object): ['last minutes' < 'potential planners' < 'planners' < 'early bookers']

In [35]:
#Görev 3:
#Şehir-Concept-EB Score, Şehir-Concept- Sezon, Şehir-Concept-CInDay kırılımında ortalama ödenen ücret ve yapılan işlem sayısı
#cinsinden inceleyiniz 

df.groupby(["SaleCityName","ConceptName","EB_score"]).agg({"Price":["mean","count"]})

                                                    Price
                                                     mean  count
SaleCityName ConceptName    EB_score
Antalya      Herşey Dahil   last minutes        62.752916  14148
                            potential planners  64.903700   8874
                            planners            67.879960   4490
                            early bookers       66.494885   3281
             Oda + Kahvaltı last minutes        65.353740    503
...                                                   ...    ...
İzmir        Oda + Kahvaltı early bookers       66.928111      3
             Yarım Pansiyon last minutes        57.788126    636
                            potential planners  64.804043    198
                            planners            60.507887     47
                            early bookers       65.905583     14

[72 rows x 2 columns]

In [36]:
# City-Concept-Season kırılımının çıktısını PRICE'a göre sıralayınız.
#Elde ettiğiniz çıktıyı agg_df olarak kaydediniz

agg_df=df.groupby(["SaleCityName","ConceptName","Seasons"]).agg({"Price":"mean"}).sort_values("Price",ascending=True)

In [37]:
agg_df

                                          Price
SaleCityName ConceptName    Seasons
Aydın        Yarım Pansiyon Low       25.271799
             Oda + Kahvaltı High      30.387530
             Yarım Pansiyon High      32.626152
Muğla        Yarım Pansiyon Low       32.681812
İzmir        Oda + Kahvaltı Low       33.555235
Aydın        Herşey Dahil   Low       33.680699
Diğer        Oda + Kahvaltı High      34.839543
Muğla        Oda + Kahvaltı Low       37.774192
Girne        Oda + Kahvaltı High      39.479630
Diğer        Yarım Pansiyon High      39.731916
             Oda + Kahvaltı Low       39.959569
Girne        Oda + Kahvaltı Low       40.043067
Diğer        Yarım Pansiyon Low       42.953978
Aydın        Oda + Kahvaltı Low       44.451874
Muğla        Yarım Pansiyon High      45.823698
             Herşey Dahil   Low       48.304086
Girne        Yarım Pansiyon Low       48.578903
İzmir        Oda + Kahvaltı High      54.141797
Aydın        Herşey Dahil   High      54.946560
İzmir        Yarım Pansiyon Low       55.350626
Girne        Yarım Pansiyon High      58.383668
Antalya      Oda + Kahvaltı Low       60.666730
Muğla        Oda + Kahvaltı High      61.264691
Antalya      Herşey Dahil   Low       61.552427
             Yarım Pansiyon Low       62.001678
Muğla        Herşey Dahil   High      63.384036
Antalya      Herşey Dahil   High      64.920065
             Oda + Kahvaltı High      66.267969
             Yarım Pansiyon High      73.259029
İzmir        Herşey Dahil   Low       74.308287
                            High      74.748363
Diğer        Herşey Dahil   High      83.787273
                            Low       87.310882
İzmir        Yarım Pansiyon High      87.657303
Girne        Herşey Dahil   Low       90.935944
                            High     103.935448

In [38]:
#: Indekste yer alan isimleri değişken ismine çeviriniz.
#Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz


agg_df.reset_index(inplace=True)

In [39]:
agg_df

   SaleCityName     ConceptName Seasons       Price
0         Aydın  Yarım Pansiyon     Low   25.271799
1         Aydın  Oda + Kahvaltı    High   30.387530
2         Aydın  Yarım Pansiyon    High   32.626152
3         Muğla  Yarım Pansiyon     Low   32.681812
4         İzmir  Oda + Kahvaltı     Low   33.555235
5         Aydın    Herşey Dahil     Low   33.680699
6         Diğer  Oda + Kahvaltı    High   34.839543
7         Muğla  Oda + Kahvaltı     Low   37.774192
8         Girne  Oda + Kahvaltı    High   39.479630
9         Diğer  Yarım Pansiyon    High   39.731916
10        Diğer  Oda + Kahvaltı     Low   39.959569
11        Girne  Oda + Kahvaltı     Low   40.043067
12        Diğer  Yarım Pansiyon     Low   42.953978
13        Aydın  Oda + Kahvaltı     Low   44.451874
14        Muğla  Yarım Pansiyon    High   45.823698
15        Muğla    Herşey Dahil     Low   48.304086
16        Girne  Yarım Pansiyon     Low   48.578903
17        İzmir  Oda + Kahvaltı    High   54.141797
18        Aydın    Herşey Dahil    High   54.946560
19        İzmir  Yarım Pansiyon     Low   55.350626
20        Girne  Yarım Pansiyon    High   58.383668
21      Antalya  Oda + Kahvaltı     Low   60.666730
22        Muğla  Oda + Kahvaltı    High   61.264691
23      Antalya    Herşey Dahil     Low   61.552427
24      Antalya  Yarım Pansiyon     Low   62.001678
25        Muğla    Herşey Dahil    High   63.384036
26      Antalya    Herşey Dahil    High   64.920065
27      Antalya  Oda + Kahvaltı    High   66.267969
28      Antalya  Yarım Pansiyon    High   73.259029
29        İzmir    Herşey Dahil     Low   74.308287
30        İzmir    Herşey Dahil    High   74.748363
31        Diğer    Herşey Dahil    High   83.787273
32        Diğer    Herşey Dahil     Low   87.310882
33        İzmir  Yarım Pansiyon    High   87.657303
34        Girne    Herşey Dahil     Low   90.935944
35        Girne    Herşey Dahil    High  103.935448

#Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
• Yeni seviye tabanlı satışları tanımlayınız ve veri setine değişken olarak ekleyiniz.
• Yeni eklenecek değişkenin adı: sales_level_based
• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek sales_level_based değişkenini oluşturmanız gerekmektedir.

In [44]:
for row in agg_df.values:
    print(row)

['Aydın' 'Yarım Pansiyon' 'Low' 25.271799066250427]
['Aydın' 'Oda + Kahvaltı' 'High' 30.38752955503549]
['Aydın' 'Yarım Pansiyon' 'High' 32.626151943115865]
['Muğla' 'Yarım Pansiyon' 'Low' 32.68181222351695]
['İzmir' 'Oda + Kahvaltı' 'Low' 33.555234798335526]
['Aydın' 'Herşey Dahil' 'Low' 33.68069861805234]
['Diğer' 'Oda + Kahvaltı' 'High' 34.8395433659649]
['Muğla' 'Oda + Kahvaltı' 'Low' 37.77419246451788]
['Girne' 'Oda + Kahvaltı' 'High' 39.47963020062443]
['Diğer' 'Yarım Pansiyon' 'High' 39.731916189847965]
['Diğer' 'Oda + Kahvaltı' 'Low' 39.95956883436893]
['Girne' 'Oda + Kahvaltı' 'Low' 40.043066932669724]
['Diğer' 'Yarım Pansiyon' 'Low' 42.953977516021126]
['Aydın' 'Oda + Kahvaltı' 'Low' 44.45187393672243]
['Muğla' 'Yarım Pansiyon' 'High' 45.82369825423796]
['Muğla' 'Herşey Dahil' 'Low' 48.3040860777445]
['Girne' 'Yarım Pansiyon' 'Low' 48.57890251975637]
['İzmir' 'Oda + Kahvaltı' 'High' 54.14179690647607]
['Aydın' 'Herşey Dahil' 'High' 54.94655962874856]
['İzmir' 'Yarım Pansiyon' 'Low' 55.35062554532092]
['Girne' 'Yarım Pansiyon' 'High' 58.383667540209146]
['Antalya' 'Oda + Kahvaltı' 'Low' 60.66672960599361]
['Muğla' 'Oda + Kahvaltı' 'High' 61.2646907590293]
['Antalya' 'Herşey Dahil' 'Low' 61.55242673885199]
['Antalya' 'Yarım Pansiyon' 'Low' 62.00167772704905]
['Muğla' 'Herşey Dahil' 'High' 63.38403617836124]
['Antalya' 'Herşey Dahil' 'High' 64.92006453392972]
['Antalya' 'Oda + Kahvaltı' 'High' 66.26796897719366]
['Antalya' 'Yarım Pansiyon' 'High' 73.25902909106263]
['İzmir' 'Herşey Dahil' 'Low' 74.3082870527656]
['İzmir' 'Herşey Dahil' 'High' 74.7483631943879]
['Diğer' 'Herşey Dahil' 'High' 83.78727314039736]
['Diğer' 'Herşey Dahil' 'Low' 87.31088205440422]
['İzmir' 'Yarım Pansiyon' 'High' 87.65730253676944]
['Girne' 'Herşey Dahil' 'Low' 90.93594415509826]
['Girne' 'Herşey Dahil' 'High' 103.93544773058629]

In [53]:
agg_df["sales_level_based"]=[row[0].upper() +"_" + row[1].upper() + "_"+ row[2].upper() for row in agg_df.values]

In [65]:
agg_df

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
0,Aydın,Yarım Pansiyon,Low,25.271799,AYDIN_YARIM PANSIYON_LOW,D
1,Aydın,Oda + Kahvaltı,High,30.387530,AYDIN_ODA + KAHVALTI_HIGH,D
2,Aydın,Yarım Pansiyon,High,32.626152,AYDIN_YARIM PANSIYON_HIGH,D
3,Muğla,Yarım Pansiyon,Low,32.681812,MUĞLA_YARIM PANSIYON_LOW,D
4,İzmir,Oda + Kahvaltı,Low,33.555235,İZMIR_ODA + KAHVALTI_LOW,D
5,Aydın,Herşey Dahil,Low,33.680699,AYDIN_HERŞEY DAHIL_LOW,D
6,Diğer,Oda + Kahvaltı,High,34.839543,DIĞER_ODA + KAHVALTI_HIGH,D
7,Muğla,Oda + Kahvaltı,Low,37.774192,MUĞLA_ODA + KAHVALTI_LOW,D
8,Girne,Oda + Kahvaltı,High,39.479630,GIRNE_ODA + KAHVALTI_HIGH,D
9,Diğer,Yarım Pansiyon,High,39.731916,DIĞER_YARIM PANSIYON_HIGH,C
10,Diğer,Oda + Kahvaltı,Low,39.959569,DIĞER_ODA + KAHVALTI_LOW,C
11,Girne,Oda + Kahvaltı,Low,40.043067,GIRNE_ODA + KAHVALTI_LOW,C
12,Diğer,Yarım Pansiyon,Low,42.953978,DIĞER_YARIM PANSIYON_LOW,C
13,Aydın,Oda + Kahvaltı,Low,44.451874,AYDIN_ODA + KAHVALTI_LOW,C
14,Muğla,Yarım Pansiyon,High,45.823698,MUĞLA_YARIM PANSIYON_HIGH,C
15,Muğla,Herşey Dahil,Low,48.304086,MUĞLA_HERŞEY DAHIL_LOW,C
16,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,C
17,İzmir,Oda + Kahvaltı,High,54.141797,İZMIR_ODA + KAHVALTI_HIGH,C
18,Aydın,Herşey Dahil,High,54.946560,AYDIN_HERŞEY DAHIL_HIGH,B
19,İzmir,Yarım Pansiyon,Low,55.350626,İZMIR_YARIM PANSIYON_LOW,B
20,Girne,Yarım Pansiyon,High,58.383668,GIRNE_YARIM PANSIYON_HIGH,B
21,Antalya,Oda + Kahvaltı,Low,60.666730,ANTALYA_ODA + KAHVALTI_LOW,B
22,Muğla,Oda + Kahvaltı,High,61.264691,MUĞLA_ODA + KAHVALTI_HIGH,B
23,Antalya,Herşey Dahil,Low,61.552427,ANTALYA_HERŞEY DAHIL_LOW,B
24,Antalya,Yarım Pansiyon,Low,62.001678,ANTALYA_YARIM PANSIYON_LOW,B
25,Muğla,Herşey Dahil,High,63.384036,MUĞLA_HERŞEY DAHIL_HIGH,B
26,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B
27,Antalya,Oda + Kahvaltı,High,66.267969,ANTALYA_ODA + KAHVALTI_HIGH,A
28,Antalya,Yarım Pansiyon,High,73.259029,ANTALYA_YARIM PANSIYON_HIGH,A
29,İzmir,Herşey Dahil,Low,74.308287,İZMIR_HERŞEY DAHIL_LOW,A
30,İzmir,Herşey Dahil,High,74.748363,İZMIR_HERŞEY DAHIL_HIGH,A
31,Diğer,Herşey Dahil,High,83.787273,DIĞER_HERŞEY DAHIL_HIGH,A
32,Diğer,Herşey Dahil,Low,87.310882,DIĞER_HERŞEY DAHIL_LOW,A
33,İzmir,Yarım Pansiyon,High,87.657303,İZMIR_YARIM PANSIYON_HIGH,A
34,Girne,Herşey Dahil,Low,90.935944,GIRNE_HERŞEY DAHIL_LOW,A
35,Girne,Herşey Dahil,High,103.935448,GIRNE_HERŞEY DAHIL_HIGH,A

In [64]:
agg_df["sales_level_based"].value_counts() #tekrar eden yok. tekil

AYDIN_YARIM PANSIYON_LOW       1
AYDIN_ODA + KAHVALTI_HIGH      1
GIRNE_YARIM PANSIYON_HIGH      1
ANTALYA_ODA + KAHVALTI_LOW     1
MUĞLA_ODA + KAHVALTI_HIGH      1
ANTALYA_HERŞEY DAHIL_LOW       1
ANTALYA_YARIM PANSIYON_LOW     1
MUĞLA_HERŞEY DAHIL_HIGH        1
ANTALYA_HERŞEY DAHIL_HIGH      1
ANTALYA_ODA + KAHVALTI_HIGH    1
ANTALYA_YARIM PANSIYON_HIGH    1
İZMIR_HERŞEY DAHIL_LOW         1
İZMIR_HERŞEY DAHIL_HIGH        1
DIĞER_HERŞEY DAHIL_HIGH        1
DIĞER_HERŞEY DAHIL_LOW         1
İZMIR_YARIM PANSIYON_HIGH      1
GIRNE_HERŞEY DAHIL_LOW         1
İZMIR_YARIM PANSIYON_LOW       1
AYDIN_HERŞEY DAHIL_HIGH        1
İZMIR_ODA + KAHVALTI_HIGH      1
GIRNE_ODA + KAHVALTI_HIGH      1
AYDIN_YARIM PANSIYON_HIGH      1
MUĞLA_YARIM PANSIYON_LOW       1
İZMIR_ODA + KAHVALTI_LOW       1
AYDIN_HERŞEY DAHIL_LOW         1
DIĞER_ODA + KAHVALTI_HIGH      1
MUĞLA_ODA + KAHVALTI_LOW       1
DIĞER_YARIM PANSIYON_HIGH      1
GIRNE_YARIM PANSIYON_LOW       1
DIĞER_ODA + KAHVALTI_LOW       1
GIRNE_ODA + KAHVALTI_LOW       1
DIĞER_YARIM PANSIYON_LOW       1
AYDIN_ODA + KAHVALTI_LOW       1
MUĞLA_YARIM PANSIYON_HIGH      1
MUĞLA_HERŞEY DAHIL_LOW         1
GIRNE_HERŞEY DAHIL_HIGH        1
Name: sales_level_based, dtype: int64

#örev 7: Yeni müşterileri (personaları) segmentlere ayırınız.
• Yeni personaları PRICE’a göre 4 segmente ayırınız.
• Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.
• Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız).

In [61]:
agg_df["SEGMENT"]=pd.qcut(agg_df["Price"],4 ,labels=["D","C","B","A"])

In [63]:
agg_df.groupby(["SEGMENT"]).agg({"Price":["mean","max","sum"]})

             Price
              mean         max         sum
SEGMENT
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.
• Antalya’da herşey dahil ve yüksek sezonda tatil yapmak isteyen bir kişinin ortalama ne kadar gelir kazandırması beklenir?
• Girne’de yarım pansiyon bir otele düşük sezonda giden bir tatilci hangi segmentte yer alacaktır?

In [78]:
new_user="ANTALYA_HERŞEY DAHIL_HIGH"

In [79]:
agg_df[agg_df["sales_level_based"] == new_user]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
26,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B

In [80]:
new_user2="GIRNE_YARIM PANSIYON_LOW"

In [81]:
agg_df[agg_df["sales_level_based"]==new_user2]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
16,Girne,Yarım Pansiyon,Low,48.578903,GIRNE_YARIM PANSIYON_LOW,C